<div class="container">
  <form (submit)="$event.preventDefault(); signIn(email.value, password.value)">
    <input type="email" #email placeholder="email" required>
    <input type="password" #password placeholder="password" required>
    <button type="submit">Sign In</button>
    <p>
      <small>You don't have an account? <a routerLink="/sign-up">Sign up!</a></small>
    </p>
    <app-error [errorMsg]="error"/>
    <p><small>
    </small></p>
  </form>

  <footer class="info">
    <p>
      This app has been made by implementing a public API.
    </p>
    <p>
      Check out the docs <a href="https://aantelo.es/api/docs">here</a>.
    </p>
  </footer>
</div>

