<header>
  <div>
    <a class="username" *ngIf="isOnStart() && getContact() " routerLink="/contact-data/{{contact?._id}}">
      {{username()}}
    </a>
    <a class="delete" *ngIf="!getContact() && isOnStart() && getConversation()"
      (click)="deleteConv()">
      <fa-icon [icon]="faTrash"/>
    </a>
  </div>
  <div>
    <a *ngIf="getUser() && isOnStart()"
      routerLink="/user-data">
      <fa-icon [icon]="faUser"/>
    </a>
    <a (click)="close()" routerLink="/sign-in" >
      <fa-icon [icon]="faRightToBracket"/>
    </a>
  </div>
</header>
