header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  gap: 1rem;

  a {
    background-color: #363636;
    border-radius: 10px;
    padding: .5rem 1rem;
    color: white;

    &:is(:hover, :active) {
      background-color: #444;
      text-decoration: none;
    }

    &.delete {
      background-color: lightcoral;
      &:is(:hover, :active) {
        background-color: coral;
      }
    }
  }

  & > * {
    display: flex;
    gap: 1rem;
  }
}
