.container {
  display: grid;
  grid-template-columns: 20ch 1fr;

  app-conversation-list {
    background-color: #282828;
    padding: .5rem;
  }
  app-message-list .messages {
    padding: .5rem;
  }

  aside + div {
    background-image: url(/assets/inspiration-geometry.png);
  }
}
