<div class="container" *ngIf="!mobileLayout">
  <aside>
    <app-conversation-list (onSelectConversation)="setConversation($event)"></app-conversation-list>
  </aside>
  <div>
    <app-message-list [conversation]="conversation"></app-message-list>
  </div>
</div>
<div class="container-mobile" *ngIf="mobileLayout" [ngSwitch]="mobileView">
  <div>
    <app-message-list *ngSwitchCase="'messages'"
      [conversation]="conversation"/>

    <app-conversation-list *ngSwitchCase="'conversations'"
      (onSelectConversation)="setConversation($event)"/>
  </div>
</div>
