<div class="container" *ngIf="!mobileLayout">
  <aside>
    <app-conversation-list (onSelectConversation)="setConversation($event)"></app-conversation-list>
  </aside>
  <div>
    <app-message-list [conversation]="conversation"></app-message-list>
  </div>
</div>
<div class="container-mobile" *ngIf="mobileLayout" [ngSwitch]="mobileView">
  <div *ngSwitchCase="'messages'">
    <button (click)="switchToConversations()" id="back-btn">&ltri;</button>
    <app-message-list
      [conversation]="conversation"/>
  </div>
  <div *ngSwitchCase="'conversations'">
    <app-conversation-list
      (onSelectConversation)="setConversation($event)"/>
  </div>
</div>
