<h1>Password change</h1>

<form (submit)="$event.preventDefault()">
  <div class="form-group">
    <label for="current">Your current password</label>
    <input id="current" type="password" [required]="true" #current>
  </div>
  <div class="form-group">
    <label for="new">Your new password</label>
    <input id="new" type="password" [required]="true" #new>
  </div>
  <div class="form-group">
    <label for="new-again">Your new password</label>
    <input id="new-again" type="password" [required]="true" #newAgain>
  </div>
  <button (click)="submit(current.value, new.value, newAgain.value)">Change password</button>
  <app-error *ngIf="error" [errorMsg]="error"></app-error>
</form>
