form {
  width: fit-content;
  height: fit-content;
  display: flex;
  border-radius: .5rem;
  input, button {
    margin-block: .5rem;
    display: block;
    background-color: #363636;
    color: inherit;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    &:is(:hover,:active) {
      background-color: #444;
      border-color: #ccc;
      outline-color: #ccc;
    }
  }
  button {
    padding-left: .5rem;
    font-weight: bold;
  }
}
