$size: 150px;
#pfp {
  margin: auto;
  width: $size;
  height: $size;
  border-radius: $size;
  overflow: hidden;
  background-color: black;
  border: .2rem solid rgba($color: white, $alpha: .2);
  display: grid;
  place-items: center;
  img {
    width: 100%;

    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
  }
  & + * {
    margin-top: .5rem;
    text-align: center;
  }
}

