<span [ngClass]="isSent ? 'sent' : 'recieved'">
  <span *ngIf="message.status == 'deleted'"><em>[deleted]</em></span>
  <span *ngIf="message.status != 'deleted'">{{message.content}}</span>
  <div class="msg-dropdown-container" *ngIf="isSent && message.status != 'deleted'">
    <span class="msg-dropdown-toggle" (click)="toggleDrodown()">V</span>
    <div class="msg-dropdown" *ngIf="showDropdown">
      <a class="delete" (click)="deleteMessage()">Delete</a>
      <a class="link">Other action</a>
    </div>
  </div>
  <div class="msg-info">
    <div class="time">
      <small>{{dateToTimeStr()}}</small>
    </div>
    <div class="status status-{{message.status}}"
      [ngSwitch]="message.status" *ngIf="isSent">
      <span *ngSwitchCase="'sent'">🗸</span>
      <span *ngSwitchCase="'recieved'">🗸🗸</span>
      <span *ngSwitchCase="'deleted'">X</span>
    </div>
  </div>
</span>
