:host {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  display: block;
}

button {
  background-color: #363636;
  border-radius: 10px;
  padding: .5rem 1rem;
  color: white;
  border: none;
  margin: .5rem auto;
  display: block;

  &#delete {
    background-color: lightcoral;
    &:hover {
      background-color: coral;
    }
  }
}
