:host {
  background-image: url(/assets/inspiration-geometry.png);
}

.messages {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  gap: .5rem;
  .message {
    width: fit-content;
    max-width: 80%;
    list-style-type: none;
    border-radius: .5rem;
    padding: .25rem .5rem;
    align-items: center;
    &.sent {
      background-color: royalblue;
      align-self: flex-end;
    }
    &.recieved {
      background-color: darken(desaturate(royalblue, 40), 20);
      align-self: flex-start;
    }
  }
}
