<div *ngIf="conversation; else elseBlock">
  <strong>Messages from conversation {{conversation}}</strong>
  <ul *ngFor="let message of messages">
    <li [ngSwitch]="message.author"
      [ngClass]="message.author === user?._id ? 'sent' : 'recieved'">
      {{message.content}} -
      <span *ngSwitchCase="user?._id">
        Sent
      </span>
      <span *ngSwitchDefault>
        Recieved
      </span>
    </li>
  </ul>
</div>

<ng-template #elseBlock>
  <p><strong>Select a conversation</strong></p>
</ng-template>
