<div *ngIf="conversation; else elseBlock">
  <ul class="messages">
    <div class="message-container" *ngFor="let message of messages">
      <div class="date" *ngIf="isDifferentDate(message)">
        <span>{{dateToDateStr(message)}}</span>
      </div>
      <li class="message">
        <app-message [isSent]="message.author === user?._id" [message]="message"/>
      </li>
    </div>
  </ul>
  <app-send-bar [conversation]="conversation"
    (onMessageRecieved)="addMessage($event)"/>
</div>

<ng-template #elseBlock>
  <h4 style="color: coral; padding: 2rem; margin: 0; text-align: center;">Select a conversation</h4>
</ng-template>
