:host {
  background-image: url(/assets/inspiration-geometry.png);
}

.messages {
  display: flex;
  flex-flow: column;
  padding: 1rem;
  gap: .5rem;
  li { list-style-type: none; }
  .message-container {
    width: 100%;
    .date {
      text-align: center;
      margin-block: .8rem;
      & > * {
        width: fit-content;
        border-radius: 1rem;
        padding: .5rem;
        background-color: rgba($color: black, $alpha: .5);
      }
    }
  }
}
