* {box-sizing: border-box;}

:root {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  background-color: #222;
  color: #ddd;
}

a, .link {
  color: lightblue;
  text-decoration: none;
  cursor: pointer;
  &:visited {
    color: darken($color: lightblue, $amount: 50);
  }
  &:hover, &:active {
    text-decoration: underline;
  }
}

app-root, body {
  height: 100vh;
  margin: 0; padding: 0;
}
