:host {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  display: block;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  button {
    background-color: #363636;
    border-radius: 10px;
    padding: .5rem 1rem;
    color: white;
    border: none;
    &#delete {
      background-color: lightcoral;
      &:hover {
        background-color: coral;
      }
    }
  }
}

form {
  input {
    background: none;
    color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    outline: none;

    border-radius: .5rem;
    padding: .5rem;
    &:enabled {
      &:hover, &:active {
        background-color: #363636;
      }
    }
  }
}
